/*//////////// reset ////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

/*//////////// general ////////////*/

.container{
    width: 100%;
    margin: auto;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.container-background-section-lilla{
    background-color: #9792E4;
}
/*//////////// button ////////////*/
.white-button{
    border-radius: 50px;
    min-height: 30px;
}
.button-blue{
    background-color: blue;
    border-radius: 50px;
    min-height: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.circle-button{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    background-color: #9792E4;
}
.button-purple{
    background-color: #9792E4;
    color: white;
    min-height: 30px;
    min-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

/*//////////// header ////////////*/

.container-background-header{
    background-color: blue;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav .box-nav > *{
    padding-left: 10px;
    padding-right: 10px;
}
.header-nav .box-nav > a{
    color: white;
}
.header-nav:first-child{
    padding-left: 10px;
    padding-top: 5px;
}
.header-nav:last-child{
    padding-right: 10px;
}
.box-item i{
    color: white;
}
.box-nav{
    display: none;
}

/*///////// main //////////*/

/* section1 */
.card-section-1{
    background-color: lightskyblue;
    margin: 20px;
    border-radius: 20px;
}
.card-section-1 div > *{
    margin-top: 10px;
}
.card-section-1 > *{
    margin-top: 10px;
}
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-section-1 > div h2{
    color: blue;
}
.card-section-1 > div p, .card-section-1 > div h2{
    text-align: center;
}
.card-section-1  h2{
    color: blue;
}
.card-section-1  p, .card-section-1 h2{
    text-align: center;
}
.box-img-section-1{
    width: 100%;
}
.card-section-1 div i{
    font-size: 100px;
    color: blue;
}
.card-section-1 > div{
    width: 100%;
    text-align: center;
}
/* section 2 */
.box-section-2{
    position: relative;
}
.box-section-2-img{
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-section-2-info > *{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.box-section-2-img > *{
    margin-bottom: 20px;
}

/* section 3 */
.card-info{
    text-align: center;
}
.card-info h2{
    color: #9792E4;
}
.card-info > *{
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-purple{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #9792E4;
}
.card-purple div:first-of-type > img{
    height: 150px;
    width: 150px;
    border-radius:75px;
    object-fit: cover;
}
.card-purple div > *{
    margin-bottom: 20px;
}
/* section 4 */
.box-section-4 h2{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-section-4 h1{
    font-size: 80px;
    color: #9792E4;
}
.card-section-4 h3{
    color: #9792E4;
}
.card-section-4{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.card-section-4 > *{
    margin-top: 20px;
    padding-left: 20px;
}
/* section 5 */
.box-section-5{
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;   
}
.box-section-5-top h1{
    color: #9792E4;
    font-size: 50px;
}
.box-section-5 .box-section-5-top > *{
    margin-bottom: 20px;
}
.card-section-5-top > img{
    height: 150px;
    width: 150px;
    border-radius:75px;
    object-fit: cover;
}
.card-section-5-bottom > *{
    margin-top: 20px;
}
.card-section-5-bottom > h3 {
    color: #9792E4;
}
.button-purple i {
    padding-right: 5px;
}
/* section 6 */
.box-section-6{
    text-align: center;
    margin-top: 30px;

}
.box-section-6 h1{
    color: goldenrod;
    font-size: 100px;
    margin-bottom: 40px;
}
.box-section-6 p{
    color: white;
    margin-bottom: 30px;
    
}
.box-section-6 h2, .box-section-6 h3{
    color: white;
    margin-bottom: 30px;
}
#button-section-6{
    min-height: 30px;
    color: #9792E4;
    border-radius: 20px;
    min-width: 100px;
    margin-bottom: 40px;
}


/*//////////// footer ////////////*/



/*//////////// breakpoint ////////////*/

/* tablet */

@media screen and (min-width: 768px){

    .box-nav{
        display: block;
    }
    .box-item{
        display: none;
    }
    .big-box-section{
        display: flex;
        flex-wrap: wrap;
    }
    .my-col-2-3{
        width: calc(((100% / 3) * 2) - 40px);
    }
    .my-col-1-3{
        width: calc((100% / 3) - 40px);
    }
    .card-section-1{
        display: flex;
    }
    .card-purple{
        display: flex;
        flex-direction: row;
    }
    .card-purple-info{
        width: 50%;
    }
    .card-purple-info-top{
        margin-right: 50px;
        margin-top: 25px;
        margin-right: 50px;
    }
    .card-box-section-4{
        display: flex;
        flex-wrap: wrap;
    }
    .card-section-4{
        width: calc(( 100% / 2) - 40px);
    }
    .box-section-5{
        display: flex;
    }
    .box-section-5-top{
        width: 70%;
    }
    .box-section-5-bottom{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* desktop */

@media screen and (min-width: 992px){

    .box-nav{
        display: block;
    }
    .box-item{
        display: none;
    }
    .container{
        width: 1000px;
        margin: auto;
    }
    .big-box-section{
        display: flex;
        flex-wrap: wrap;
    }
    .card-section-1{
        width: calc((100% / 3) - 40px);
    }
    .my-col-2-3{
        width: calc(((100% / 3) * 2) - 40px);
    }
    .my-col-1-3{
        width: calc((100% / 3) - 40px);
    }
    .box-section-2-bottom{
        display: flex;
        align-items: flex-end;
    }
    .card-purple-info{
        width: 50%;
    }
    .card-purple-info-top{
        margin-right: 50px;
        margin-top: 25px;
        margin-right: 50px;
    }
    .card-box-section-4{
        display: flex;
        flex-wrap: wrap;
    }
    .card-section-4{
        width: calc(( 100% / 3) - 40px);
    }
    .box-section-2-img-top{ 
        position: relative;
        width: 50%;
        padding-left: 20px;
        top: 200px;
       
    }
}
