/*//////////// reset ////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

/*//////////// general ////////////*/

.container{
    width: 100%;
    margin: auto;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.container-background-section-lilla{
    background-color: #9792E4;
}
/*//////////// button ////////////*/
.white-button{
    border-radius: 50px;
    min-height: 30px;
}
.button-blue{
    background-color: blue;
    border-radius: 50px;
    min-height: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.circle-button{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    background-color: #9792E4;
}

/*//////////// header ////////////*/

.container-background-header{
    background-color: blue;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav .box-nav > *{
    padding-left: 10px;
    padding-right: 10px;
}
.header-nav .box-nav > a{
    color: white;
}
.header-nav:first-child{
    padding-left: 10px;
    padding-top: 5px;
}
.header-nav:last-child{
    padding-right: 10px;
}
.box-item i{
    color: white;
}
.box-nav{
    display: none;
}

/*///////// main //////////*/

/* section1 */
.card-section-1{
    background-color: lightskyblue;
    margin: 20px;
    border-radius: 20px;
}
.card-section-1 div > *{
    margin-top: 10px;
}
.card-section-1 > *{
    margin-top: 10px;
}
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-section-1 > div h2{
    color: blue;
}
.card-section-1 > div p, .card-section-1 > div h2{
    text-align: center;
}
.card-section-1  h2{
    color: blue;
}
.card-section-1  p, .card-section-1 h2{
    text-align: center;
}
.box-img-section-1{
    width: 100%;
}
.card-section-1 div i{
    font-size: 100px;
    color: blue;
}
.card-section-1 > div{
    width: 100%;
    text-align: center;
}
/* section 2 */

.box-section-2-img{
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-section-2-info > *{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.box-section-2-img > *{
    margin-bottom: 20px;
    
}


/*//////////// footer ////////////*/



/*//////////// breakpoint ////////////*/

/* tablet */

@media screen and (min-width: 768px){

    .box-nav{
        display: block;
    }
    .box-item{
        display: none;
    }
    .big-box-section{
        display: flex;
        flex-wrap: wrap;
    }
    .my-col-2-3{
        width: calc(((100% / 3) * 2) - 40px);
    }
    .my-col-1-3{
        width: calc((100% / 3) - 40px);
    }
    .card-section-1{
        display: flex;
    }
    
}

/* desktop */

@media screen and (min-width: 992px){

    .box-nav{
        display: block;
    }
    .box-item{
        display: none;
    }
    .container{
        width: 1000px;
        margin: auto;
    }
    .big-box-section{
        display: flex;
        flex-wrap: wrap;
    }
    .card-section-1{
        width: calc((100% / 3) - 40px);
    }
    .my-col-2-3{
        width: calc(((100% / 3) * 2) - 40px);
    }
    .my-col-1-3{
        width: calc((100% / 3) - 40px);
    }
    .box-section-2-bottom{
        display: flex;
        align-items: flex-end;
    }
   
    
    
}
